//breakpoints
$bp-x-large: 118.75em; //1900px
$bp-largest: 75em; //1200px
$bp-large: 62.5em;   // 1000px
$bp-x-medium: 56.25em; // 900px
$bp-medium: 50em;    // 800px; 
$bp-small: 37.5em;    // 600px;
$bp-grid-break: 31.25em; //500px;
$bp-x-small: 22.5em; // 320px;
$bp-xx-small: 15.625em; // 250px;


*,
*::before,
*::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: inherit;

}

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% => 1rem = 12px
    
    // @media only screen and (max-width: $bp-x-large) {
    //     font-size: 57%;
    // }
    @media only screen and (max-width: $bp-largest) {
        font-size: 60%;
    }
    @media only screen and (max-width: $bp-large) {
        font-size: 60%;
    }
    @media only screen and (max-width: $bp-medium) {
        font-size: 57.5%;
    }
    @media only screen and (max-width: $bp-small) {
        font-size: 35%;
    }
    @media only screen and (max-width: $bp-x-small) {
        font-size: 30%;
    }
    @media only screen and (max-width: $bp-xx-small) {
        font-size: 25%;
    }
}


