p {
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    opacity: .8;

    @media only screen and (max-width: $bp-largest) {                
                        
    }
    @media only screen and (max-width: $bp-large) {
        
    }        
    @media only screen and (max-width: $bp-medium) {
        
    }      
    
}

h1 {
    font-size: 12em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h2 {
    font-size: 10em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h3 {
    font-size: 8em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h4 {
    font-size: 6em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h5 {
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

h6 {
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.highlight {
    font-weight: 900;
}



// font-family: 'Montserrat', sans-serif;