
// backgrounds \\
$color-bg-grey: #DDDDDD;
$color-bg-dark: rgb(143, 143, 143);
$color-bg-light: rgb(230, 227, 227);

// blue \\
$color-blue-primary: #5F8895;
$color-blue-light: #77A7B6;
$color-blue-dark: #3A546B;

// red \\
$color-red-primary: #AB5050;

// brown \\
$color-brown-light: rgba(190, 159, 125, 0.801);
$color-brown-primary: #BE9F7D;
$color-brown-dark: #95826D;
$color-brown-text: rgb(110, 89, 65);


.color-brown-primary {
    color: $color-brown-primary;
}

.color-red-primary {
    color: $color-red-primary;
}

.color-blue-primary {
    color: $color-blue-primary;
}

.color-grey-primary {
    color: $color-bg-light;
}

.color-bg-brown {
    background-color: $color-brown-light;
}

.color-bg-red {
    background-color: $color-red-primary;
}

.color-bg-light {
    background-color: $color-bg-light;
}

