.logo {

    grid-row: 2 / 3;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    align-items: center;

    @media only screen and (max-width: $bp-largest) {

        align-content: space-around;
        
    }

    @media only screen and (max-width: $bp-x-small) {
        justify-content: center;
        margin-top: 10rem;
    }
    @media only screen and (max-width: $bp-xx-small) {
        justify-content: center;
        margin-top: 10rem;
    }

    &__name {
        transform: scale(.2, .2);
        opacity: 0;

        animation-name: name-reveal;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        @media only screen and (max-width: $bp-small) {
            font-size: 2em;
        }
        @media only screen and (max-width: $bp-x-small) {
            margin: 1rem 0 1rem 0;
        }
        @media only screen and (max-width: $bp-xx-small) {
            margin: 1rem 0 1rem 0;
        } 
        
        @keyframes name-reveal {
            from {
                opacity: 0;
            }

            to {

                opacity: 1;
                transform: scale(1, 1);
            }
        }
    }


    &__pro {
        transform: scale(.2, .2);
        opacity: 0;

        animation-name: pro-reveal;
        animation-delay: .05s;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.3em;
        }

        @keyframes pro-reveal {
            from {
                opacity: 0;
            }

            to {

                opacity: 1;
                transform: scale(1, 1);
            }
        }

    }

    .animate {   

        &-letter {
            animation-name: letter-reveal;
            animation-delay: 2s;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;

            @keyframes letter-reveal {
                from {
                    
                }

                to {
                    color: black;
                }
            }
        }
    }

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media only screen and (max-width: $bp-largest) {                
            //height: 35rem;                
        }
        @media only screen and (max-width: $bp-large) {
            // height: 40rem;
        }        
        @media only screen and (max-width: $bp-medium) {
            height: 33rem;
        }      
        @media only screen and (max-width: $bp-small) {
            height: 33rem;
        }
        @media only screen and (max-width: $bp-x-small) {
            height: 29rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            height: 25rem;
        } 
        

        &--main {
            
            margin: 19.5px;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation-name: dash;
            animation-delay: 0s;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;

            @media only screen and (max-width: $bp-x-small) {
                margin: 1rem 0 4rem 0;
            }
            @media only screen and (max-width: $bp-xx-small) {
                margin: 1rem 0 4rem 0;
            } 
            
            
            &--1 {
                stroke: #AB5050;
                fill: transparent;
                animation-name: reveal-t;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;

                @keyframes reveal-t {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill:#AB5050;
                    }
                }
               
            }

            &--2 {
                stroke: #BE9F7D;
                fill: transparent;
                animation-name: reveal-a;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;

                @keyframes reveal-a {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill: #BE9F7D;
                    }
                }
            }

            &--3 {
                fill: transparent;
            }

            &--4 {
                stroke: #77A7B6;
                fill: transparent;
                animation-name: reveal-dot;
                animation-delay: 1s;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;

                @keyframes reveal-dot {
                    from {
                        fill: transparent;
                    }

                    to {
                        fill: #77A7B6;
                    }
                }
                
            }

            @keyframes dash {
                0% {
                    stroke-dashoffset: 1000;
                    
                    
                }

                25% {
                    stroke-dashoffset: 0;
                    
                }

                50% {
                    stroke-dashoffset: 1000;
                    
                }

                75% {
                    filter: drop-shadow( 0 0px 0px rgb(180, 180, 180));

                }

                100% {
                    
                    filter: drop-shadow( 0 20px 5px rgb(180, 180, 180));
                }

            }
            
        }

        &--pro {
            transform: translateY(400%);
            opacity: 0;
            animation-name: pro-up;
            animation-delay: 2s;
            animation-duration: .9s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;

            @keyframes pro-up {
                from {
                    transform: translateY(400%);
                    opacity: 0;
                }

                to {
                    transform: translateY(0%);
                    opacity: 1;
                }
            }

            @media only screen and (max-width: $bp-largest) {
                //width: 10rem;
                width: 20rem;
                }
        }

        @media only screen and (max-width: $bp-largest) {
            //width: 10rem;
            order: -1;
            }
    }
}