.side-nav {
    position: fixed;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    
    list-style-type: none;

    display: flex;
    flex-direction: column;

    .side-up,
    .side-node,
    .side-down {
        @media only screen and (max-width: $bp-medium) {
            width: 2.5rem;
        }
        @media only screen and (max-width: $bp-small) {
            
        }
        @media only screen and (max-width: $bp-x-small) {
            
        }
    }   
    
    .side-up:hover > .side-up-peice {
        fill: $color-brown-primary;
        transition: .6s;
    }

    .side-node:hover > .side-node-peice {
        fill: $color-blue-light;
        transition: .6s;
    }

    .side-down:hover > .side-down-peice {
        fill: $color-brown-primary;
        transition: .6s;
    }
    
    &__item {

        &--link {
            text-decoration: none;
            display: block;
            padding: 1rem;
            

            opacity: 0;
            visibility: hidden;
            animation-name: int-reveal;
            animation-delay: 1s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
            filter: drop-shadow(0 0px 0px rgb(180, 180, 180));

           
    
            @keyframes int-reveal {
                0% {
                    opacity: 0;
                    visibility: hidden;
                    filter: drop-shadow(0 0px 0px rgb(180, 180, 180));
                }
    
                50% {
                    opacity: 1;
                    visibility: visible;
                }
    
                100% {
                    opacity: 1;
                    visibility: visible;
                    filter: drop-shadow(0 20px 5px rgb(180, 180, 180));
                }
            }
            
        }
    }
}