.contact {
    background-color: $color-bg-grey;
    display: flex;
    flex-direction: column;
    padding: 10rem 10rem 10rem;

    &--title {
        margin: auto;
    }

    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 0;
        }
    }

    &__header h1 {
        @media only screen and (max-width: $bp-medium) {
            font-size: 20em;
        }
    }

    &__header p {
        margin: 5rem 10rem 5rem 10rem;
        opacity: .7;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2.5rem;
            margin: 0rem 0rem 5rem 0rem;
        }
    }

    &__info {
        margin-bottom: 10rem;
    }

    &-item {
        margin: 3rem;
        filter: drop-shadow(0 20px 5px rgb(180, 180, 180));

        
    }

    .icon-linkedin,
    .icon-mail {        

        @media only screen and (max-width: $bp-medium) {
            width: 40px;
        }

        
    }

    .icon-linkedin-peice {
        fill: $color-blue-primary;

        &:hover {
            fill: $color-brown-primary;
        }
        
    }

    .icon-mail-peice {
        fill: $color-red-primary;
        
        &:hover {
            fill: $color-brown-primary;
        }
    }
}