.section-header {
    height: 100vh;
    background-color: $color-bg-grey;
    display: grid;
    grid-template-rows: 10rem 40rem 1fr 1fr;
    grid-template-columns: 1fr 1100px 1fr; 

    @media only screen and (max-width: $bp-largest) {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1rem 1fr 1rem;
    }

    @media only screen and (max-width: $bp-x-small) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        
    }

    @media only screen and (max-width: $bp-xx-small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        
    }


    &__about {
        opacity: 0;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
        text-align: center;
        justify-self: center;
        align-self: center;
        margin: 0 10rem 0 10rem;

        animation-name: about-reveal;
        animation-delay: 2s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;

        @media only screen and (max-width: $bp-grid-break) {
            margin: 0 5rem 0 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 7em;
        }

        @media only screen and (max-width: $bp-x-small) {
            font-size: 2.7rem;
        }

        @media only screen and (max-width: $bp-xx-small) {
            margin: 0 4rem 0 4rem;
        }

        .highlight {
            font-weight: 800;
        }
    

        @keyframes about-reveal {
            from {
                opacity: 0;
            }

            to {
                opacity: .7;
            }
        }

    }

    &__scroll {
        grid-row: 4 / 5;
        grid-column: 2 / 3;
        justify-self: center;
        align-self: center;

        
        
    }

    .scroll {
        opacity: 0;
        visibility: hidden;
        animation-name: int-reveal;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        filter: drop-shadow(0 0px 0px rgb(180, 180, 180));

        @media only screen and (max-width: $bp-medium) {
            width: 4.5rem;
        }

        @keyframes int-reveal {
            0% {
                opacity: 0;
                visibility: hidden;
                filter: drop-shadow(0 0px 0px rgb(180, 180, 180));
            }

            50% {
                opacity: 1;
                visibility: visible;
            }

            100% {
                opacity: 1;
                visibility: visible;
                filter: drop-shadow(0 20px 5px rgb(180, 180, 180));
            }
        }

        &:hover > .scroll-peice {
            fill: $color-red-primary;
            transition: .6s;
        }
    }
}