.services {
    background-color: $color-bg-grey;

    display: grid;
    grid-template-columns: minmax(5rem, 10rem) repeat(6, 1fr) minmax(0rem, 10rem);
    grid-template-rows: repeat(3, 1fr) 1fr;
    grid-gap: 10px;
    padding-top: 10rem;

    
    .icon-des,
    .icon-dev,
    .icon-cms,
    .icon-api {
        
        @media only screen and (max-width: $bp-x-small) {
            width: 90px;
        }
        @media only screen and (max-width: $bp-xx-small) {
            width: 70px;
        } 
        
    }

    @media only screen and (max-width: $bp-x-medium) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10rem 15rem 0 15rem;
    }

    @media only screen and (max-width: $bp-grid-break) {
        padding: 10rem 7rem 10rem 7rem;
    }

    @media only screen and (max-width: $bp-x-small) {
        padding: 5rem 7rem 5rem 7rem;
    }
    @media only screen and (max-width: $bp-xx-small) {
        padding: 5rem 7rem 5rem 7rem;
    } 

    &__header {
        grid-column: 2 / 8;
        grid-row: 1 / 2;
        justify-self: stretch;
        align-self: stretch;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: $bp-x-medium) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        @media only screen and (max-width: $bp-x-small) {
           margin-bottom: 5rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            //margin: 0; 
        } 
        
    }

    .service {

        &--title {
            color: $color-brown-dark;
            margin: auto;

            @media only screen and (max-width: $bp-small) {
                font-size: 20em;
            }
        }

        &--description {
            text-align: center;
            font-size: 2rem;
            margin: 5rem 5rem 5rem 5rem;
            opacity: .8;

            @media only screen and (max-width: $bp-large) {
                margin: 1rem 5rem 2rem 5rem;
            }

            @media only screen and (max-width: $bp-x-medium) {
                margin: 1rem 10rem 2rem 10rem;
            }

            @media only screen and (max-width: $bp-x-medium) {
               margin: 0 0 5rem 0;
            }

            @media only screen and (max-width: $bp-small) {
               font-size: 2.5rem;
            }

            
        }
    }

    &__cards {
        
        grid-column: 2 / 5;
        grid-row: 2 / 4 ;
        justify-self: stretch;
        align-self: stretch;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;

        @media only screen and (max-width: $bp-grid-break) {
            display: flex;
            flex-direction: column;
        }

        .service-card {  
            
            @media only screen and (max-width: $bp-grid-break) {
                padding: 1rem 0 1rem 0;
            }
            
            &__container {
                background-color: $color-bg-light;
                width: 100%;
                height: 100%;
                border: 1px solid $color-red-primary;
                overflow: hidden;
                height: 27rem;
                box-shadow: 0px 10px 20px grey;

                &:hover > .service-card__slider {
                    transform: translateY(-50%);
                    transition: .3s;
                }
                // &:active > .service-card__slider {
                //     transform: translateY(-50%);
                //     transition: .3s;
                // }
                
            }

            &__slider {
                
                width: 90%;    
                transition: .3s;
            }

            .content {
                transform: translateY(-50%);
                transition: .3s;
            }

            &__cover {
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 27rem;
                
            }

            &__icon {
                margin-bottom: 1rem;
            }

            &__title {
                text-transform: uppercase;
                opacity: .8;
                text-align: center;
                font-weight: 500;

                @media only screen and (max-width: $bp-small) {
                    font-size: 2.3rem;
                }
            }

            &__down {
                margin-top: 5px;
            }

            .icon-card-reveal {
                height: 4rem;
                filter: drop-shadow(0px 10px 10px grey);
                animation: 5s ease-in-out infinite alternate float;

                    @keyframes float {
                        
                        33% {
                            transform: translateY(-15%);
                        }
                        
                        100% {
                            transform: translateY(15%);
                        }
                    }
                
                
                &-peice {
                    fill: $color-red-primary;
                    animation: 3s ease-in infinite alternate rainbow;

                    @keyframes rainbow {
                        0% {
                            fill: $color-bg-light;
                        }
                        33% {
                            fill: $color-brown-primary;
                        }
                        66% {
                            fill: $color-blue-primary;
                        }
                        100% {
                            fill: $color-red-primary;
                        }
                    }
                }
            }



            &__reveal {
                
                height: 27rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            &__description {
                text-align: center;
                font-size: 1.7rem;
                opacity: .8;

                @media only screen and (max-width: $bp-large) {
                    font-size: 1.5rem;
                }

                @media only screen and (max-width: $bp-x-medium) {
                    font-size: 1.6rem;
                }

                @media only screen and (max-width: $bp-small) {
                    font-size: 2rem;
                }

                @media only screen and (max-width: $bp-grid-break) {
                    font-size: 2.6rem;
                }

                @media only screen and (max-width: $bp-x-small) {
                    font-size: 2.3rem;
                }
            }

            &--1 {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }

            &--2 {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
            }

            &--3 {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }

            &--4 {
                grid-row: 2 / 3;
                grid-column: 2 / 3;
            }
        }
    }

    &__main {
        
        grid-column: 5 / 8;
        grid-row: 2 / 4;
        justify-self: stretch;
        align-self: stretch;
        width: 100%;
        
        @media only screen and (max-width: $bp-x-medium) {
            background-color: $color-bg-light;
            border: 1px solid $color-red-primary;
            box-shadow: 0px 10px 20px grey;
            margin-bottom: 2rem;
        }
    
        .main-card {

            &__container {
                //margin-top: 3rem;
                width: 80%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: stretch;
                align-items: center;

                @media only screen and (max-width: $bp-grid-break) {
                    //margin: 1rem;
                }
            }

            &__icon {
                margin: 1rem;
                @media only screen and (max-width: $bp-x-small) {
                    margin: 0;
                }
                @media only screen and (max-width: $bp-xx-small) {
                    
                } 
            }

            

            &__title {
                margin: 1rem;
                opacity: .7;
                font-size: 2.5rem;
                font-weight: 500;
                text-transform: uppercase;
                text-align: center;
                
                @media only screen and (max-width: $bp-large) {
                    font-weight: 700;
                    font-size: 2.1rem;
                }
            }

            &__description {
                text-align: center;
                margin: 1.5rem;
                opacity: .7;

                @media only screen and (max-width: $bp-large) {
                    font-size: 2rem;
                }

                @media only screen and (max-width: $bp-small) {
                    font-size: 2.4rem;
                }

                @media only screen and (max-width: $bp-grid-break) {
                    margin: 5px 0 5px 0;
                    flex-grow: 1;
                    flex-basis: 100%;
                }
            }
        }

    }

    &__cta {
        
        grid-column: 2 / 8;
        grid-row: 4 / 5;
        justify-self: center;
        align-self: center;

        @media only screen and (max-width: $bp-x-medium) {
            padding: 5rem 0rem 5rem 0rem;
        }
        
        .btn-link {
            display: block;
            padding: 0 1rem 0 1rem;
            height: 6.5rem;
            border: 1px solid $color-red-primary;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            color: $color-red-primary; 
                        
            animation: shadow-pulse 1s infinite;

            @keyframes shadow-pulse {
                0% {
                    box-shadow:  0 0 0 0px rgba($color-red-primary, 0.479);
                }

                50% {
                    box-shadow:  0 0 0 15px rgba($color-red-primary, 0.24);
                }

                100% {
                    box-shadow:  0 0 0 20px rgba($color-red-primary, 0);
                }
            }
            
            &:hover > .cta-slider {
                transform: translateY(-44%);
                transition: .3s;
                background-color: $color-brown-light;
                transition-timing-function: ease-in-out;
            }
            &:focus > .cta-slider {
                transform: translateY(-44%);
                transition: .3s;
                background-color: $color-brown-light;
                transition-timing-function: ease-in-out;
            }

            &:active > .cta-slider {
                background-color: $color-bg-light;
                transition: .05s;
            }

            .cta-slider {
                display: flex;
                flex-direction: column;
                background-color: $color-bg-light;
                width: 100%;
                transition: .3s;
            }


            .cta-icon {
                height: 6rem;
                margin-top: 1rem;
                margin-bottom: 1rem;
                
                // @media only screen and (max-width: $bp-small) {
                //     height: 3rem;
                //     margin: 4px 0 4px 0;
                // }
            }

            .cta-name {
                height: 6rem;
                margin-bottom: 1rem;
                margin-top: 1rem;

                @media only screen and (max-width: $bp-small) {
                   margin-top: 1.6rem;
                   font-size: 3px;
                }

                @media only screen and (max-width: $bp-small) {
                    margin-top: 1rem;
                 }
            }

            .icon-contact {
                @media only screen and (max-width: $bp-small) {
                    height: 25px;
                }

                @media only screen and (max-width: $bp-x-small) {
                    height: 20px;
                }
            }
        }
    }    
}

.pro-pwa {
    @media only screen and (max-width: $bp-x-small) {
        width: 140px;
    }
    @media only screen and (max-width: $bp-xx-small) {
        width: 120px;
    } 
}