.skills {
    background-color: $color-bg-grey;
    padding-top: 20rem;

    @media only screen and (max-width: $bp-grid-break) {
        padding-top: 10rem;
    }

    &--title {
        margin: auto;
    }
    
    &__header {
        display: flex;
        flex-direction: column;
        margin: auto;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 0;
        }
    }

    &__header h1 {
        @media only screen and (max-width: $bp-medium) {
            font-size: 20em;
        }
    }

    &__header p {
        margin: 5rem 10rem 5rem 10rem;
        opacity: .7;
        text-align: center;
        font-size: 2rem;

        @media only screen and (max-width: $bp-medium) {
            font-size: 2rem;
            margin: 0rem 10rem 5rem 10rem;
        }

        @media only screen and (max-width: $bp-grid-break) {
            margin: 0 5rem 5rem 5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-x-small) {
            margin: 0rem 5rem 5rem 5rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            margin: 0rem 5rem 5rem 5rem;
        }
    }

    
}

.skill {

    display: flex;
    margin: 0 10rem 0 10rem;
    padding: 3rem;
    transition: .3s;
    background-color: $color-bg-light;
    box-shadow: 0px 10px 20px grey;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-grid-break) {
        padding: 1rem;
        margin: 0 6rem 5rem 6rem;
    }

    @media only screen and (max-width: $bp-x-small) {
        padding: 1rem;
        margin: 0 6rem 5rem 6rem;
    }
    @media only screen and (max-width: $bp-xx-small) {
        padding: 1rem;
        margin: 0 6rem 5rem 6rem;
    }

    &-cover {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        margin: 0 5rem 0 5rem;

        @media only screen and (max-width: $bp-large) {
            justify-content: center;
        }
        @media only screen and (max-width: $bp-x-small) {
            margin: 0 1rem 0 1rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            margin: 0 1rem 0 1rem;
        }
    }

    &-icon {
        @media only screen and (max-width: $bp-large) {
            margin-bottom: 2rem;
        }
        @media only screen and (max-width: $bp-x-small) {
            margin-bottom: 1rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            margin-bottom: 1rem;
        }
        
    }

    .icon-front,
    .icon-back,
    .icon-full,
    .icon-js {
        @media only screen and (max-width: $bp-small) {
            width: 50px;
            height: 50px;
        }
        @media only screen and (max-width: $bp-x-small) {
            width: 40px;
            height: 40px;
        }
        @media only screen and (max-width: $bp-xx-small) {
            width: 45px;
            height: 45px;
        }
    }

    &-label {
        
        @media only screen and (max-width: $bp-small) {
            font-size: 3.2px;
        }
    }

    &-reveal {
        margin: 0 2.5rem 0 2.5rem;
        @media only screen and (max-width: $bp-x-small) {
            margin: 0rem;
        }
        @media only screen and (max-width: $bp-xx-small) {
            margin: 0rem;
        }
    }

    &-list {

        list-style-type: none;
        display: flex;
        flex-wrap: wrap;

        &__item {
            margin: 2rem;

            @media only screen and (max-width: $bp-large) {
                //font-size: 3px;
                margin: 10px 12px 10px 12px;
                //text-decoration: underline;
            }

            @media only screen and (max-width: $bp-x-medium) {
                //font-size: 3px;
                margin: 5px 10px 5px 10px;
                //text-decoration: underline;
            }

            @media only screen and (max-width: $bp-medium) {
                //font-size: 3px;
                margin: 5px 10px 5px 10px;
                //text-decoration: underline;
            }

            @media only screen and (max-width: $bp-small) {
                font-size: 3px;
                margin: 3px 5px 3px 5px;
                //text-decoration: underline;
            }

        }

    }
}

.btn-container {
    margin: 0 auto;
    width: 124.38px;

    @media only screen and (max-width: $bp-small) {
        width: 65px;
    }
}

.cta-section {
    height: 25rem;
    padding: 5rem;
}
