.color-brown-primary {
  color: #BE9F7D; }

.color-red-primary {
  color: #AB5050; }

.color-blue-primary {
  color: #5F8895; }

.color-grey-primary {
  color: #e6e3e3; }

.color-bg-brown {
  background-color: rgba(190, 159, 125, 0.801); }

.color-bg-red {
  background-color: #AB5050; }

.color-bg-light {
  background-color: #e6e3e3; }

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: inherit; }

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html, body {
      font-size: 60%; } }
  @media only screen and (max-width: 62.5em) {
    html, body {
      font-size: 60%; } }
  @media only screen and (max-width: 50em) {
    html, body {
      font-size: 57.5%; } }
  @media only screen and (max-width: 37.5em) {
    html, body {
      font-size: 35%; } }
  @media only screen and (max-width: 22.5em) {
    html, body {
      font-size: 30%; } }
  @media only screen and (max-width: 15.625em) {
    html, body {
      font-size: 25%; } }

p {
  font-size: 3.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  opacity: .8; }

h1 {
  font-size: 12em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

h2 {
  font-size: 10em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

h3 {
  font-size: 8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

h4 {
  font-size: 6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

h5 {
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

h6 {
  font-size: 4em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200; }

.highlight {
  font-weight: 900; }

.section-header {
  height: 100vh;
  background-color: #DDDDDD;
  display: grid;
  grid-template-rows: 10rem 40rem 1fr 1fr;
  grid-template-columns: 1fr 1100px 1fr; }
  @media only screen and (max-width: 75em) {
    .section-header {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1rem 1fr 1rem; } }
  @media only screen and (max-width: 22.5em) {
    .section-header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      align-content: center; } }
  @media only screen and (max-width: 15.625em) {
    .section-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center; } }
  .section-header__about {
    opacity: 0;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    text-align: center;
    justify-self: center;
    align-self: center;
    margin: 0 10rem 0 10rem;
    animation-name: about-reveal;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out; }
    @media only screen and (max-width: 31.25em) {
      .section-header__about {
        margin: 0 5rem 0 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-header__about {
        font-size: 7em; } }
    @media only screen and (max-width: 22.5em) {
      .section-header__about {
        font-size: 2.7rem; } }
    @media only screen and (max-width: 15.625em) {
      .section-header__about {
        margin: 0 4rem 0 4rem; } }
    .section-header__about .highlight {
      font-weight: 800; }

@keyframes about-reveal {
  from {
    opacity: 0; }
  to {
    opacity: .7; } }
  .section-header__scroll {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center; }
  .section-header .scroll {
    opacity: 0;
    visibility: hidden;
    animation-name: int-reveal;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    filter: drop-shadow(0 0px 0px #b4b4b4); }
    @media only screen and (max-width: 50em) {
      .section-header .scroll {
        width: 4.5rem; } }

@keyframes int-reveal {
  0% {
    opacity: 0;
    visibility: hidden;
    filter: drop-shadow(0 0px 0px #b4b4b4); }
  50% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 20px 5px #b4b4b4); } }
    .section-header .scroll:hover > .scroll-peice {
      fill: #AB5050;
      transition: .6s; }

.services {
  background-color: #DDDDDD;
  display: grid;
  grid-template-columns: minmax(5rem, 10rem) repeat(6, 1fr) minmax(0rem, 10rem);
  grid-template-rows: repeat(3, 1fr) 1fr;
  grid-gap: 10px;
  padding-top: 10rem; }
  @media only screen and (max-width: 22.5em) {
    .services .icon-des,
    .services .icon-dev,
    .services .icon-cms,
    .services .icon-api {
      width: 90px; } }
  @media only screen and (max-width: 15.625em) {
    .services .icon-des,
    .services .icon-dev,
    .services .icon-cms,
    .services .icon-api {
      width: 70px; } }
  @media only screen and (max-width: 56.25em) {
    .services {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10rem 15rem 0 15rem; } }
  @media only screen and (max-width: 31.25em) {
    .services {
      padding: 10rem 7rem 10rem 7rem; } }
  @media only screen and (max-width: 22.5em) {
    .services {
      padding: 5rem 7rem 5rem 7rem; } }
  @media only screen and (max-width: 15.625em) {
    .services {
      padding: 5rem 7rem 5rem 7rem; } }
  .services__header {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .services__header {
        display: flex;
        flex-direction: column;
        justify-content: space-around; } }
    @media only screen and (max-width: 22.5em) {
      .services__header {
        margin-bottom: 5rem; } }
  .services .service--title {
    color: #95826D;
    margin: auto; }
    @media only screen and (max-width: 37.5em) {
      .services .service--title {
        font-size: 20em; } }
  .services .service--description {
    text-align: center;
    font-size: 2rem;
    margin: 5rem 5rem 5rem 5rem;
    opacity: .8; }
    @media only screen and (max-width: 62.5em) {
      .services .service--description {
        margin: 1rem 5rem 2rem 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .services .service--description {
        margin: 1rem 10rem 2rem 10rem; } }
    @media only screen and (max-width: 56.25em) {
      .services .service--description {
        margin: 0 0 5rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .services .service--description {
        font-size: 2.5rem; } }
  .services__cards {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    justify-self: stretch;
    align-self: stretch;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px; }
    @media only screen and (max-width: 31.25em) {
      .services__cards {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 31.25em) {
      .services__cards .service-card {
        padding: 1rem 0 1rem 0; } }
    .services__cards .service-card__container {
      background-color: #e6e3e3;
      width: 100%;
      height: 100%;
      border: 1px solid #AB5050;
      overflow: hidden;
      height: 27rem;
      box-shadow: 0px 10px 20px grey; }
      .services__cards .service-card__container:hover > .service-card__slider {
        transform: translateY(-50%);
        transition: .3s; }
    .services__cards .service-card__slider {
      width: 90%;
      transition: .3s; }
    .services__cards .service-card .content {
      transform: translateY(-50%);
      transition: .3s; }
    .services__cards .service-card__cover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 27rem; }
    .services__cards .service-card__icon {
      margin-bottom: 1rem; }
    .services__cards .service-card__title {
      text-transform: uppercase;
      opacity: .8;
      text-align: center;
      font-weight: 500; }
      @media only screen and (max-width: 37.5em) {
        .services__cards .service-card__title {
          font-size: 2.3rem; } }
    .services__cards .service-card__down {
      margin-top: 5px; }
    .services__cards .service-card .icon-card-reveal {
      height: 4rem;
      filter: drop-shadow(0px 10px 10px grey);
      animation: 5s ease-in-out infinite alternate float; }

@keyframes float {
  33% {
    transform: translateY(-15%); }
  100% {
    transform: translateY(15%); } }
      .services__cards .service-card .icon-card-reveal-peice {
        fill: #AB5050;
        animation: 3s ease-in infinite alternate rainbow; }

@keyframes rainbow {
  0% {
    fill: #e6e3e3; }
  33% {
    fill: #BE9F7D; }
  66% {
    fill: #5F8895; }
  100% {
    fill: #AB5050; } }
    .services__cards .service-card__reveal {
      height: 27rem;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .services__cards .service-card__description {
      text-align: center;
      font-size: 1.7rem;
      opacity: .8; }
      @media only screen and (max-width: 62.5em) {
        .services__cards .service-card__description {
          font-size: 1.5rem; } }
      @media only screen and (max-width: 56.25em) {
        .services__cards .service-card__description {
          font-size: 1.6rem; } }
      @media only screen and (max-width: 37.5em) {
        .services__cards .service-card__description {
          font-size: 2rem; } }
      @media only screen and (max-width: 31.25em) {
        .services__cards .service-card__description {
          font-size: 2.6rem; } }
      @media only screen and (max-width: 22.5em) {
        .services__cards .service-card__description {
          font-size: 2.3rem; } }
    .services__cards .service-card--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2; }
    .services__cards .service-card--2 {
      grid-row: 1 / 2;
      grid-column: 2 / 3; }
    .services__cards .service-card--3 {
      grid-row: 2 / 3;
      grid-column: 1 / 2; }
    .services__cards .service-card--4 {
      grid-row: 2 / 3;
      grid-column: 2 / 3; }
  .services__main {
    grid-column: 5 / 8;
    grid-row: 2 / 4;
    justify-self: stretch;
    align-self: stretch;
    width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .services__main {
        background-color: #e6e3e3;
        border: 1px solid #AB5050;
        box-shadow: 0px 10px 20px grey;
        margin-bottom: 2rem; } }
    .services__main .main-card__container {
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: stretch;
      align-items: center; }
    .services__main .main-card__icon {
      margin: 1rem; }
      @media only screen and (max-width: 22.5em) {
        .services__main .main-card__icon {
          margin: 0; } }
    .services__main .main-card__title {
      margin: 1rem;
      opacity: .7;
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
      text-align: center; }
      @media only screen and (max-width: 62.5em) {
        .services__main .main-card__title {
          font-weight: 700;
          font-size: 2.1rem; } }
    .services__main .main-card__description {
      text-align: center;
      margin: 1.5rem;
      opacity: .7; }
      @media only screen and (max-width: 62.5em) {
        .services__main .main-card__description {
          font-size: 2rem; } }
      @media only screen and (max-width: 37.5em) {
        .services__main .main-card__description {
          font-size: 2.4rem; } }
      @media only screen and (max-width: 31.25em) {
        .services__main .main-card__description {
          margin: 5px 0 5px 0;
          flex-grow: 1;
          flex-basis: 100%; } }
  .services__cta {
    grid-column: 2 / 8;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center; }
    @media only screen and (max-width: 56.25em) {
      .services__cta {
        padding: 5rem 0rem 5rem 0rem; } }
    .services__cta .btn-link {
      display: block;
      padding: 0 1rem 0 1rem;
      height: 6.5rem;
      border: 1px solid #AB5050;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      color: #AB5050;
      animation: shadow-pulse 1s infinite; }

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(171, 80, 80, 0.479); }
  50% {
    box-shadow: 0 0 0 15px rgba(171, 80, 80, 0.24); }
  100% {
    box-shadow: 0 0 0 20px rgba(171, 80, 80, 0); } }
      .services__cta .btn-link:hover > .cta-slider {
        transform: translateY(-44%);
        transition: .3s;
        background-color: rgba(190, 159, 125, 0.801);
        transition-timing-function: ease-in-out; }
      .services__cta .btn-link:focus > .cta-slider {
        transform: translateY(-44%);
        transition: .3s;
        background-color: rgba(190, 159, 125, 0.801);
        transition-timing-function: ease-in-out; }
      .services__cta .btn-link:active > .cta-slider {
        background-color: #e6e3e3;
        transition: .05s; }
      .services__cta .btn-link .cta-slider {
        display: flex;
        flex-direction: column;
        background-color: #e6e3e3;
        width: 100%;
        transition: .3s; }
      .services__cta .btn-link .cta-icon {
        height: 6rem;
        margin-top: 1rem;
        margin-bottom: 1rem; }
      .services__cta .btn-link .cta-name {
        height: 6rem;
        margin-bottom: 1rem;
        margin-top: 1rem; }
        @media only screen and (max-width: 37.5em) {
          .services__cta .btn-link .cta-name {
            margin-top: 1.6rem;
            font-size: 3px; } }
        @media only screen and (max-width: 37.5em) {
          .services__cta .btn-link .cta-name {
            margin-top: 1rem; } }
      @media only screen and (max-width: 37.5em) {
        .services__cta .btn-link .icon-contact {
          height: 25px; } }
      @media only screen and (max-width: 22.5em) {
        .services__cta .btn-link .icon-contact {
          height: 20px; } }

@media only screen and (max-width: 22.5em) {
  .pro-pwa {
    width: 140px; } }

@media only screen and (max-width: 15.625em) {
  .pro-pwa {
    width: 120px; } }

.skills {
  background-color: #DDDDDD;
  padding-top: 20rem; }
  @media only screen and (max-width: 31.25em) {
    .skills {
      padding-top: 10rem; } }
  .skills--title {
    margin: auto; }
  .skills__header {
    display: flex;
    flex-direction: column;
    margin: auto; }
    @media only screen and (max-width: 50em) {
      .skills__header {
        margin-bottom: 0; } }
  @media only screen and (max-width: 50em) {
    .skills__header h1 {
      font-size: 20em; } }
  .skills__header p {
    margin: 5rem 10rem 5rem 10rem;
    opacity: .7;
    text-align: center;
    font-size: 2rem; }
    @media only screen and (max-width: 50em) {
      .skills__header p {
        font-size: 2rem;
        margin: 0rem 10rem 5rem 10rem; } }
    @media only screen and (max-width: 31.25em) {
      .skills__header p {
        margin: 0 5rem 5rem 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .skills__header p {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 22.5em) {
      .skills__header p {
        margin: 0rem 5rem 5rem 5rem; } }
    @media only screen and (max-width: 15.625em) {
      .skills__header p {
        margin: 0rem 5rem 5rem 5rem; } }

.skill {
  display: flex;
  margin: 0 10rem 0 10rem;
  padding: 3rem;
  transition: .3s;
  background-color: #e6e3e3;
  box-shadow: 0px 10px 20px grey;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 31.25em) {
    .skill {
      padding: 1rem;
      margin: 0 6rem 5rem 6rem; } }
  @media only screen and (max-width: 22.5em) {
    .skill {
      padding: 1rem;
      margin: 0 6rem 5rem 6rem; } }
  @media only screen and (max-width: 15.625em) {
    .skill {
      padding: 1rem;
      margin: 0 6rem 5rem 6rem; } }
  .skill-cover {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 5rem 0 5rem; }
    @media only screen and (max-width: 62.5em) {
      .skill-cover {
        justify-content: center; } }
    @media only screen and (max-width: 22.5em) {
      .skill-cover {
        margin: 0 1rem 0 1rem; } }
    @media only screen and (max-width: 15.625em) {
      .skill-cover {
        margin: 0 1rem 0 1rem; } }
  @media only screen and (max-width: 62.5em) {
    .skill-icon {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 22.5em) {
    .skill-icon {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 15.625em) {
    .skill-icon {
      margin-bottom: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .skill .icon-front,
    .skill .icon-back,
    .skill .icon-full,
    .skill .icon-js {
      width: 50px;
      height: 50px; } }
  @media only screen and (max-width: 22.5em) {
    .skill .icon-front,
    .skill .icon-back,
    .skill .icon-full,
    .skill .icon-js {
      width: 40px;
      height: 40px; } }
  @media only screen and (max-width: 15.625em) {
    .skill .icon-front,
    .skill .icon-back,
    .skill .icon-full,
    .skill .icon-js {
      width: 45px;
      height: 45px; } }
  @media only screen and (max-width: 37.5em) {
    .skill-label {
      font-size: 3.2px; } }
  .skill-reveal {
    margin: 0 2.5rem 0 2.5rem; }
    @media only screen and (max-width: 22.5em) {
      .skill-reveal {
        margin: 0rem; } }
    @media only screen and (max-width: 15.625em) {
      .skill-reveal {
        margin: 0rem; } }
  .skill-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap; }
    .skill-list__item {
      margin: 2rem; }
      @media only screen and (max-width: 62.5em) {
        .skill-list__item {
          margin: 10px 12px 10px 12px; } }
      @media only screen and (max-width: 56.25em) {
        .skill-list__item {
          margin: 5px 10px 5px 10px; } }
      @media only screen and (max-width: 50em) {
        .skill-list__item {
          margin: 5px 10px 5px 10px; } }
      @media only screen and (max-width: 37.5em) {
        .skill-list__item {
          font-size: 3px;
          margin: 3px 5px 3px 5px; } }

.btn-container {
  margin: 0 auto;
  width: 124.38px; }
  @media only screen and (max-width: 37.5em) {
    .btn-container {
      width: 65px; } }

.cta-section {
  height: 25rem;
  padding: 5rem; }

.contact {
  background-color: #DDDDDD;
  display: flex;
  flex-direction: column;
  padding: 10rem 10rem 10rem; }
  .contact--title {
    margin: auto; }
  .contact__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 50em) {
      .contact__header {
        margin-bottom: 0; } }
  @media only screen and (max-width: 50em) {
    .contact__header h1 {
      font-size: 20em; } }
  .contact__header p {
    margin: 5rem 10rem 5rem 10rem;
    opacity: .7;
    text-align: center; }
    @media only screen and (max-width: 50em) {
      .contact__header p {
        font-size: 2.5rem;
        margin: 0rem 0rem 5rem 0rem; } }
  .contact__info {
    margin-bottom: 10rem; }
  .contact-item {
    margin: 3rem;
    filter: drop-shadow(0 20px 5px #b4b4b4); }
  @media only screen and (max-width: 50em) {
    .contact .icon-linkedin,
    .contact .icon-mail {
      width: 40px; } }
  .contact .icon-linkedin-peice {
    fill: #5F8895; }
    .contact .icon-linkedin-peice:hover {
      fill: #BE9F7D; }
  .contact .icon-mail-peice {
    fill: #AB5050; }
    .contact .icon-mail-peice:hover {
      fill: #BE9F7D; }

.side-nav {
  position: fixed;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .side-nav .side-up,
    .side-nav .side-node,
    .side-nav .side-down {
      width: 2.5rem; } }
  .side-nav .side-up:hover > .side-up-peice {
    fill: #BE9F7D;
    transition: .6s; }
  .side-nav .side-node:hover > .side-node-peice {
    fill: #77A7B6;
    transition: .6s; }
  .side-nav .side-down:hover > .side-down-peice {
    fill: #BE9F7D;
    transition: .6s; }
  .side-nav__item--link {
    text-decoration: none;
    display: block;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    animation-name: int-reveal;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    filter: drop-shadow(0 0px 0px #b4b4b4); }

@keyframes int-reveal {
  0% {
    opacity: 0;
    visibility: hidden;
    filter: drop-shadow(0 0px 0px #b4b4b4); }
  50% {
    opacity: 1;
    visibility: visible; }
  100% {
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 20px 5px #b4b4b4); } }

.logo {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .logo {
      align-content: space-around; } }
  @media only screen and (max-width: 22.5em) {
    .logo {
      justify-content: center;
      margin-top: 10rem; } }
  @media only screen and (max-width: 15.625em) {
    .logo {
      justify-content: center;
      margin-top: 10rem; } }
  .logo__name {
    transform: scale(0.2, 0.2);
    opacity: 0;
    animation-name: name-reveal;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .logo__name {
        font-size: 2em; } }
    @media only screen and (max-width: 22.5em) {
      .logo__name {
        margin: 1rem 0 1rem 0; } }
    @media only screen and (max-width: 15.625em) {
      .logo__name {
        margin: 1rem 0 1rem 0; } }

@keyframes name-reveal {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
  .logo__pro {
    transform: scale(0.2, 0.2);
    opacity: 0;
    animation-name: pro-reveal;
    animation-delay: .05s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .logo__pro {
        font-size: 2.3em; } }

@keyframes pro-reveal {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: scale(1, 1); } }
  .logo .animate-letter {
    animation-name: letter-reveal;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out; }

@keyframes letter-reveal {
  from { }
  to {
    color: black; } }
  .logo__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    @media only screen and (max-width: 50em) {
      .logo__center {
        height: 33rem; } }
    @media only screen and (max-width: 37.5em) {
      .logo__center {
        height: 33rem; } }
    @media only screen and (max-width: 22.5em) {
      .logo__center {
        height: 29rem; } }
    @media only screen and (max-width: 15.625em) {
      .logo__center {
        height: 25rem; } }
    .logo__center--main {
      margin: 19.5px;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      animation-name: dash;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out; }
      @media only screen and (max-width: 22.5em) {
        .logo__center--main {
          margin: 1rem 0 4rem 0; } }
      @media only screen and (max-width: 15.625em) {
        .logo__center--main {
          margin: 1rem 0 4rem 0; } }
      .logo__center--main--1 {
        stroke: #AB5050;
        fill: transparent;
        animation-name: reveal-t;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out; }

@keyframes reveal-t {
  from {
    fill: transparent; }
  to {
    fill: #AB5050; } }
      .logo__center--main--2 {
        stroke: #BE9F7D;
        fill: transparent;
        animation-name: reveal-a;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out; }

@keyframes reveal-a {
  from {
    fill: transparent; }
  to {
    fill: #BE9F7D; } }
      .logo__center--main--3 {
        fill: transparent; }
      .logo__center--main--4 {
        stroke: #77A7B6;
        fill: transparent;
        animation-name: reveal-dot;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out; }

@keyframes reveal-dot {
  from {
    fill: transparent; }
  to {
    fill: #77A7B6; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  25% {
    stroke-dashoffset: 0; }
  50% {
    stroke-dashoffset: 1000; }
  75% {
    filter: drop-shadow(0 0px 0px #b4b4b4); }
  100% {
    filter: drop-shadow(0 20px 5px #b4b4b4); } }
    .logo__center--pro {
      transform: translateY(400%);
      opacity: 0;
      animation-name: pro-up;
      animation-delay: 2s;
      animation-duration: .9s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-out; }

@keyframes pro-up {
  from {
    transform: translateY(400%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }
      @media only screen and (max-width: 75em) {
        .logo__center--pro {
          width: 20rem; } }
    @media only screen and (max-width: 75em) {
      .logo__center {
        order: -1; } }
